@font-face {
    font-family: 'Inter';
    font-stretch: normal; /* Note that font-stretch is a % of normal width */
    font-style: normal; /* See note below */
    font-weight: normal;
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf) format('woff2');
}