button {
    background: none;
    border: none;
    cursor: pointer;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header *Start* */

.header {
    width: 100%;
}
.header-top {
    border-bottom: 2px solid #F0F0F0;
}
.header-top > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
.header-wrapper {
    display: flex;
    align-items: center;
}
.header-wrapper > * {
    display: inline-block;
    padding: 12px 24px;
    border-right: 2px solid #F0F0F0;
}
.link {
    display: flex;
    align-items: center;
    gap: 3px;

    text-decoration: none;
}
.link__icon {
    width: 24px;
    height: 24px;
}
.text-h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #000000;
}
.btn {
    display: flex;
    align-items: center;
    gap: 10px;
}
.login-btn {
    border-left: 2px solid #F0F0F0;
}
.register-btn {
    background: #FF0000;
    border-right: 2px solid #F0F0F0;
}
.register-btn > .text-h3 {
    color: #FFFFFF;
}
.btn__icon {
    width: 24px;
    height: 24px;
}

/* Header bottom START */

.header-bottom {
    border-bottom: 2px solid #F0F0F0;
}
.header-bottom > .container {
    display: flex;
    align-items: center;
    margin: 0 10%;
    border-right: 2px solid #F0F0F0;
}
.logo {
}
.nav-links {
    display: flex;
    align-items: center;
    padding: 22px 23px;
    gap: 45px;

    border-left: 2px solid #F0F0F0;
    border-right: 2px solid #F0F0F0;
}
.nav-links__item {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    white-space: nowrap;
    text-decoration: none;
    color: #3D3D3D;
}
.nav-links__item.selected {
    color: #FF0000;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 18px !important;

    background: #EEEEEE;
    border-radius: 6px;
}
.header-bottom .search {
    margin: 0 23px;
}
.search__icon {
    width: 25px;
    height: 25px;
}
.search__input {
    width: 100%;
    background: none;
    border: none;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15.6248px;
    line-height: 23px;

    color: #6C6C6C;
}

/* Header *Stop* */

/* Footer *Start* */

.footer {
    margin-bottom: 60px;
}
.footer-bottom {
    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}
.footer-bottom > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 10%;
}
.free-kassa {
    padding: 16px 44px;
    border-left: 2px solid #E3E3E3;
}
.copyright {
    max-width: 344px;
    word-wrap: break-word;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17.1127px;
    line-height: 25px;

    color: #000000;
}
.red {
    color: #FF0000;
}
.underline {
    text-decoration-line: underline;
}
.contacts-wrapper {
    margin-right: 77px;
    display: flex;
    gap: 49px;
}

/* Footer info block *Start* */

.footer-info {
    border-top: 2px solid #E3E3E3;
}
.footer-info > .container {
    display: flex;
    margin: 0 10%;
}
.footer-info > .container > * {
    padding-top: 45px;
    padding-bottom: 58px;
}
.info-block:first-child {
    padding-right: 54px;
}
.info-block:last-child {
    padding-left: 54px;
}
.info-block > .text-p {
    margin-top: 39px;
}
.text-h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 30.4576px;
    line-height: 44px;
    text-transform: uppercase;

    color: #000000;
}
.text-p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15.8313px;
    line-height: 23px;

    color: #959595;
}
.articles_mini {
    padding-left: 58px;
    padding-right: 52px;
    border-left: 2px solid #E3E3E3;
    border-right: 2px solid #E3E3E3;
}
.articles_mini-header {
    display: flex;
    gap: 34px;
}
.articles_mini-header > .text-h2 {
    border-right: 2px solid #E3E3E3;
    padding-right: 34px;
}
.articles_mini-list {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.articles_mini-list__item {
    display: flex;
    gap: 20px;
}
.articles_mini-list__preview {
    width: 118px;
    height: 78px;
    background: #D9D9D9;
}
.articles_mini-list__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5619px;
    line-height: 25px;

    color: #000000;
}
.articles_mini-list__date {
    margin-top: 6px;
    display: flex;
    gap: 9px;
}
.articles_mini-list__date-icon {
    width: 18.77px;
    height: 18.77px;
}
.particles_mini-list__date-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 13.079px;
    line-height: 19px;

    color: #666666;
    opacity: 0.9;
}

/* Footer info block *Stop* */

/* Footer *Stop* */

/* Content *Start* */

.text-h1 {
    max-width: 68%;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 41.7758px;
    line-height: 60px;
    text-transform: uppercase;

    color: #000000;
}

.content {
}
.content-header {
    padding: 51px 0;
    border-bottom: 2px solid #D9D9D9;
}
.content-header > .container {
    margin: 0 10%;
}
.content-body > .container {
    margin: 44px 10%;
}
.content-h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 27.3534px;
    line-height: 40px;

    color: #363636;
}
.content-p {
    max-width: 60%;
    margin-top: 44px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #3E3E3E;
}

/* Content *Stop* */

/* Contacts form *Start* */

.contacts-content {
    display: flex;
}
.contacts-left {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 52px;
    margin-top: 81px;
}
.map {
    width: 533px;
    height: 271px;
    background: #D9D9D9;
}
.contacts-left .text-p {
    margin-top: 27px;

    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #3C3C3C;
}
.contacts-left .contacts-wrapper {
    margin-top: 38px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 27px;
}
.contacts-form {
    border-left: 2px solid #E3E3E3;
}
.contacts-form__header {
    border-bottom: 2px solid #E3E3E3;
}
.contacts-form__title {
    padding: 48px 59px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 41.7758px;
    line-height: 60px;
    text-transform: uppercase;

    color: #000000;
}
.contacts-form__body {
    display: flex;
    gap: 37px;
    padding: 42px 0 50px 51px;
    margin-right: 178px;
}
.contacts-form__wrapper {
    display: flex;
    flex-direction: column;
}
.label {
    margin-top: 29px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20.446px;
    line-height: 100%;

    color: #717171;
}
.input_underline {
    position: relative;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #E3E3E3;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 27.4087px;
    line-height: 100%;

    color: #373737;
}
.input_underline::placeholder {
    color: #9C9C9C;
}
.captcha {
    margin-top: 39px;
    width: 160px;
    height: 80px;
}

.select {
    padding: 6px;
    padding-right: 66px;

    border: none;
    background: none;
    appearance: none;
    outline: none;

    background-image: url(../img/arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;

    border-bottom: 2px solid #E3E3E3;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 27.4087px;
    line-height: 100%;

    color: #9C9C9C;
}
.textarea {
    min-width: 479px;
    border: 1px solid #9B9B9B;
    border-radius: 21px;
    padding: 24px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 158%;

    color: #373737;
}
.textarea::placeholder {
    color: #717171;
}
.label + .textarea {
    margin-top: 38px;
}
.form-btn {
    margin-top: 32px;
    padding: 17px 43px;

    background: #FF0000;
    border-radius: 8.06061px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24.6723px;
    line-height: 36px;

    color: #FFFFFF;
}
/* Contacts form *Stop* */

/* Articles *Start* */

.articles-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 34px;
}
.articles-list__item {
    width: 451.76px;
    height: 165.55px;
    display: flex;
    gap: 22px;

    padding: 36px 22px;
    border: 0.78181px solid #A6A6A6;
    border-radius: 24px;
}
.articles-list__preview {
    width: 232.98px;
    height: 165.74px;
}
.articles-list__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.articles-list__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 19.448px;
    line-height: 28px;

    color: #000000;
}
.articles-list__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 12.1345px;
    line-height: 18px;

    color: #7A7A7A;
}
.articles-list__meta-wrapper {
    display: flex;
    gap: 15px;
}
.articles-list__meta {
    display: flex;
    align-items: center;
    gap: 7px;
}
.articles-list__meta-icon {
    width: 14.68px;
    height: 14.68px;
}
.articles-list__meta-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 10.2253px;
    line-height: 15px;

    color: #666666;
}

/* Articles *Stop* */

.pagination {
    display: flex;
    gap: 12px;
    align-items: center;

    margin-top: 41px;
}
.pagination__back-btn, .pagination__next-btn {
    width: 48.49px;
    height: 48.49px;
    border: 0.841588px solid #666666;
    border-radius: 14px;

    background-image: url(../img/arrow-horizontal.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.pagination__back-btn:hover, .pagination__next-btn:hover {
    border-color: transparent;
    background-color: #FF0000;
    background-image: url(../img/arrow-horizontal_hover.svg);

    transition: .2s;
}
.pagination__pages {
    display: flex;
    gap: 12px;
    align-items: center;
}
.pagination__pages__item {
    width: 48.49px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.841588px solid #666666;
    border-radius: 14px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 37.2697px;
    line-height: 54px;

    color: #767676;
    cursor: pointer;
}
.pagination__pages__item.selected {
    border-color: transparent;
    background: #FF0000;
    color: #FFFFFF;
}
.pagination__pages__item:hover {
    border-color: transparent;
    background-color: #FF0000;
    color: #FFFFFF;

    transition: .2s;
}
.pagination__next-btn {
    transform: rotate(180deg);
}
