button {
    background: none;
    border: none;
    cursor: pointer;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header *Start* */

.header {
}
.header-top {
    border-bottom: 2px solid #F0F0F0;
}
.header-top > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
}
.header-wrapper {
    display: flex;
    align-items: center;
}
.header-wrapper > * {
    display: inline-block;
    padding: 12px 24px;
    border-right: 2px solid #F0F0F0;
}
.link {
    display: flex;
    align-items: center;
    gap: 3px;

    text-decoration: none;
}
.link__icon {
    width: 24px;
    height: 24px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login-btn {
    width: 198px;
    border-left: 2px solid #F0F0F0;
}
.register-btn {
    background: #FF0000;
    border-right: 2px solid #F0F0F0;
}
.register-btn > .text-h3 {
    color: #FFFFFF;
}
.btn__icon {
    width: 24px;
    height: 24px;
}

/* Header bottom START */

.header-bottom {
    border-bottom: 2px solid #F0F0F0;
}
.header-bottom > .container {
    display: flex;
    align-items: center;
    margin: 0 10%;
    border-right: 2px solid #F0F0F0;
}
.logo {
}
.nav-links {
    display: flex;
    align-items: center;
    padding: 22px 23px;
    gap: 45px;

    border-left: 2px solid #F0F0F0;
    border-right: 2px solid #F0F0F0;
}
.nav-links__item {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    white-space: nowrap;
    text-decoration: none;
    color: #3D3D3D;
}
.nav-links__item:hover {
    transition: .2s;
    color: #FF0000;
}
.nav-links__item.selected {
    color: #FF0000;
}
.header-bottom .search {
    margin: 0 23px;
}

/* Header *Stop* */

/* Footer *Start* */

.footer {
    margin-bottom: 60px;
}
.footer-bottom {
    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}
.footer-bottom > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 10%;
}
.free-kassa {
    padding: 16px 44px;
    border-left: 2px solid #E3E3E3;
}
.copyright {
    max-width: 344px;
    word-wrap: break-word;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17.1127px;
    line-height: 25px;

    color: #000000;
}
.contacts-wrapper {
    margin-right: 77px;
    display: flex;
    gap: 49px;
}
.arrow-btn {
    width: 71px;
    height: 71px;
    background-image: url(../img/arrow-horizontal.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transform: rotate(180deg);
}
/* Footer info block *Start* */

.footer-info {
    border-top: 2px solid #E3E3E3;
}
.footer-info > .container {
    display: flex;
    margin: 0 10%;
}
.footer-info > .container > * {
    padding-top: 45px;
    padding-bottom: 58px;
}
.info-block:first-child {
    padding-right: 54px;
}
.info-block:last-child {
    padding-left: 54px;
}
.info-block > .text-p {
    margin-top: 39px;
}
.articles_mini {
    padding-left: 58px;
    padding-right: 52px;
    border-left: 2px solid #E3E3E3;
    border-right: 2px solid #E3E3E3;
}
.articles_mini-header {
    display: flex;
    gap: 34px;
}
.articles_mini-header > .text-h2 {
    border-right: 2px solid #E3E3E3;
    padding-right: 34px;
}
.articles_mini-list {
    margin-top: 37px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.articles_mini-list__item {
    display: flex;
    gap: 20px;
}
.articles_mini-list__preview {
    width: 118px;
    height: 78px;
    background: #D9D9D9;
}
.articles_mini-list__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5619px;
    line-height: 25px;

    color: #000000;
}
.articles_mini-list__date {
    margin-top: 6px;
    display: flex;
    gap: 9px;
}
.articles_mini-list__date-icon {
    width: 18.77px;
    height: 18.77px;
}
.particles_mini-list__date-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 13.079px;
    line-height: 19px;

    color: #666666;
    opacity: 0.9;
}

/* Footer info block *Stop* */

/* Footer *Stop* */

/* Content *Start* */

.content {
}
.content-header {
    padding: 51px 0;
    border-bottom: 2px solid #D9D9D9;
}
.content-header > .container {
    margin: 0 10%;
}
.content-body > .container {
    margin: 44px 10%;
}
.content-h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 27.3534px;
    line-height: 40px;

    color: #363636;
}
.content-preview {
    margin-top: 53px;
    width: 100%;
    height: 525px;
}
.content-p {
    max-width: 60%;
    margin-top: 44px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #3E3E3E;
}

/* Content *Stop* */

/* Contacts form *Start* */

.contacts-content {
    display: flex;
}
.contacts-left {
    max-width: 533px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 52px;
    margin-top: 81px;
}
.map {
    width: 533px;
    height: 271px;
    background: #D9D9D9;
}
.contacts-left .text-p {
    margin-top: 27px;

    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #3C3C3C;
}
.contacts-left .contacts-wrapper {
    margin-top: 38px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    gap: 27px;
}
.contacts-form {
    width: 100%;
    border-left: 2px solid #E3E3E3;
}
.contacts-form__header {
    border-bottom: 2px solid #E3E3E3;
}
.contacts-form__title {
    padding: 48px 59px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 41.7758px;
    line-height: 60px;
    text-transform: uppercase;

    color: #000000;
}
.contacts-form__body {
    display: flex;
    gap: 37px;
    padding: 42px 0 50px 51px;
}
.contacts-form__wrapper {
    display: flex;
    flex-direction: column;
}
.captcha {
    margin-top: 39px;
    width: 160px;
    height: 80px;
}
.captcha + label {
    margin-top: 20px;
}
.form-btn {
    width: 182px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    padding: 17px 43px;

    background: #FF0000;
    border-radius: 8.06061px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24.6723px;
    line-height: 36px;

    color: #FFFFFF;
}
/* Contacts form *Stop* */

/* Articles *Start* */
.articles-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 55px;
    margin-left: 10%;
    max-width: 90vw;
}
.articles-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 34px;
}
.articles-list__item {
    min-width: 451.76px;
    min-height: 165.55px;
    max-width: 451.76px;
    max-height: 165.55px;
    display: flex;
    gap: 22px;

    padding: 36px 22px;
    border: 0.78181px solid #A6A6A6;
    border-radius: 24px;
}
.articles-list_scroll {
    display: flex;
    transition: 1s;

    border-top: 2px solid #E3E3E3;
    border-bottom: 2px solid #E3E3E3;
}
.articles-list_scroll__before-btn {
    height: 100%;
    width: 100px;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/arrow-horizontal.svg);
}
.articles-list_scroll__before-btn::before {
    z-index: -1;
    content: "";
    height: 100%;
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: inset 100px 0 100px 0 white;
}
.articles-list_scroll__next-btn {
    height: 100%;
    width: 100px;
    position: absolute;
    right: 0;
    box-shadow: inset 10em 10em linear-gradient(to right, black, transparent);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    background-position: center center;
    background-image: url(../img/arrow-horizontal.svg);
}
.articles-list_scroll::-webkit-scrollbar {
    width: 0;
    height: 0;
    visibility: hidden;
}
.articles-list_scroll__item {
    max-width: 649px;
    padding: 77px 52px;
    display: flex;
    gap: 42px;
    border-right: 2px solid #E3E3E3;
}
.articles-list__preview {
    width: 232.98px;
    height: 165.74px;
}
.articles-list__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.articles-list__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 19.448px;
    line-height: 28px;

    color: #000000;
}
.articles-list__text {
    width: 256.47px;
    height: 88px;
    text-overflow: ellipsis;
    overflow: hidden; 

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 12.1345px;
    line-height: 18px;

    color: #7A7A7A;
}
.articles-list__meta-wrapper {
    display: flex;
    gap: 15px;
}
.articles-list__meta {
    display: flex;
    align-items: center;
    gap: 7px;
}
.articles-list__meta-icon {
    width: 14.68px;
    height: 14.68px;
}
.articles-list__meta-text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 10.2253px;
    line-height: 15px;

    color: #666666;
}

/* Articles *Stop* */

.pagination {
    display: flex;
    gap: 12px;
    align-items: center;

    margin-top: 41px;
}
.pagination__back-btn, .pagination__next-btn {
    width: 48.49px;
    height: 48.49px;
    border: 0.841588px solid #666666;
    border-radius: 14px;

    background-image: url(../img/arrow-horizontal.svg);
    background-position: center center;
    background-repeat: no-repeat;
}
.pagination__back-btn:hover, .pagination__next-btn:hover {
    border-color: transparent;
    background-color: #FF0000;
    background-image: url(../img/arrow-horizontal_hover.svg);

    transition: .2s;
}
.pagination__pages {
    display: flex;
    gap: 12px;
    align-items: center;
}
.pagination__pages__item {
    width: 48.49px;
    height: 48.49px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.841588px solid #666666;
    border-radius: 14px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 37.2697px;
    line-height: 54px;

    color: #767676;
    cursor: pointer;
}
.pagination__pages__item.selected {
    border-color: transparent;
    background: #FF0000;
    color: #FFFFFF;
}
.pagination__pages__item:hover {
    border-color: transparent;
    background-color: #FF0000;
    color: #FFFFFF;

    transition: .2s;
}
.pagination__next-btn {
    transform: rotate(180deg);
}


/* Search extended *Start* */

.search-extended {
    display: flex;
    gap: 34px;
    margin: 40px 0;
}
.search-extended__filter-title {
    margin-bottom: 17px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18.2099px;
    line-height: 100%;

    color: #717171;
}
.search-extended__filter + .search-extended__filter {
    margin-top: 45px;
}
.search-extended__filter + .search-extended__filter-title {
    margin-top: 45px;
}
.search-extended__filter {
    min-width: 456.83px;
    display: flex;
    gap: 15px;
    flex-direction: column;

    padding: 20px;
    border: 1.79856px solid #D9D9D9;
}
.flex-wrapper {
    display: flex;
    align-items: center;
    gap: 13px;
}
.search-extended__buttons {
    margin-top: 43px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.search-h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 25.9422px;
    line-height: 37px;

    color: #A8A8A8;
}
.search-extended + .search-h2 {
    margin-bottom: 55px;
}
.footer-contacts {
    margin-top: 55px;
    display: flex;
    border-top: 2px solid #E3E3E3;
}

/* Search extended *Stop* */
.footer > .container {
    margin: 0 10%;
}
.space-between {
    justify-content: space-between;
}

/* Components list *Start* */

.components-list {
    display: flex;
    flex-direction: column;
    gap: 62px;
}
.components-list__item {
    display: flex;
    gap: 56px;

    padding-bottom: 62px;
    border-bottom: 2px solid #E3E3E3;
}
.components-list__preview {
    width: 396.04px;
    height: 240.94px;
}
.components-list__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 31.4543px;
    line-height: 45px;

    color: #000000;
}
.components-list__text {
    max-width: 340px;
    margin-top: 18px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 19.6257px;
    line-height: 28px;

    color: #7A7A7A;
}


/* Components list *Stop* */

/* Thesis list *Start* */

.thesis-list {
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
}
.thesis-list__item {
    padding-bottom: 79px;
    border-bottom: 2px solid #E0E0E0;
}
.thesis-list__item > .flex-wrapper {
    margin-top: 72px;
    gap: 40px;
}
.thesis-list__title {
    width: 100%;
    padding: 40px 0;
    border-bottom: 2px solid #E0E0E0;
    margin-bottom: 72px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 41.7758px;
    line-height: 60px;
    text-transform: uppercase;

    color: #000000;
}
.thesis-list__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
    align-items: self-start;

    width: 528px;
    max-height: 565px;
}
.thesis-list__preview {
    max-width: 528px;
    max-height: 565px;
}
.thesis-list__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    
    color: #3C3C3C;    
}

/* Thesis list *Stop* */

.align-start {
    align-items: flex-start;
}

/* Gallery *Start* */

.gallery {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    gap: 39px;
}
.gallery__item {
    max-width: 100%;
}
.gallery__other {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 45px;
}

/* Gallery *Stop* */

/* Article *Start* */
.article-body {
    margin-bottom: 70px;
}

.article-statistics {
    display: flex;
    gap: 27px;
}
.article-statistics__item {
    display: flex;
    gap: 12.5px;
    align-items: center;
}
.article-statistics__icon {
    width: 25.44px;
    height: 25.44px;
}
.article-statistics__text {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17.7238px;
    line-height: 26px;

    color: #666666;
}

.rating_block {
    width: 125px;
    height: 25px;
}
.rating_block input[type="radio"] {
    display: none;
}
.label_rating {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../img/star.svg) no-repeat 50% 0;
    cursor: pointer;
}

.rating_block .label_rating:hover, 
.rating_block .label_rating:hover ~ .label_rating, 
.rating_block input[type="radio"]:checked ~ .label_rating 
{
    background: url(../img/star_fill.svg) no-repeat 50% 0;
}

.article-preview {
    width: 795px;
    height: 495px;
}

.article-statistics + .article-preview {
    margin-top: 62px;
}
.article-preview + .article-p {
    margin-top: 61px;
}
.article-p {
    width: 50%;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17.7238px;
    line-height: 26px;

    color: #000000;
}
.article-p + .text-h2 {
    margin-top: 62px;
}
.text-h2 + .article-p {
    margin-top: 62px;
}
.article-p + .article-img {
    margin-top: 62px;
}
.article-img {
    display: inline-block;
    width: 443px;
    height: 495px;
}
.article-img + .article-img {
    margin-left: 31px;
}
/* Article *Stop* */

/* Consultation Page *Start* */

.consultation-request {
    max-width: 544px;

    padding-bottom: 40px;
    border-bottom: 2px solid #EAEAEA;
    margin-bottom: 30px;
}
.consultation-request > button {
    margin-top: 42px;
}
.consultation-p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #000000;
}
/* Consultation Page *Stop* */

/* Forum table *Start* */

.forum-table th {
    padding: 11px 38px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 17.7238px;
    line-height: 26px;
    text-align: left;

    color: #000000;
    background: #EEEEEE;
    border: 2px solid #FFFFFF;
    border-collapse: collapse;
}
.forum-table td {
    padding-right: 38px;
}
.forum-table td, .forum-table td > * {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 17.7238px;
    line-height: 292%;

    text-decoration-line: underline;
    color: #000000;
}
.forum-table a:hover {
    color: #FF0000;
    transition: .2s;
}
/* Forum table *Stop* */

/* Master page *Start* */

.master-wrapper {
    display: flex;
    gap: 53px;
}
.master-img {
    width: 712px;
    height: 507px;
}
.master-p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17.7238px;
    line-height: 26px;

    color: #000000;
}
.history-list {
    display: flex;
    flex-direction: column;
}
.history-list__item {
    border-top: 2px solid #D9D9D9;
    padding: 59px 10%;
}
.history-list__title {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 41.7758px;
    line-height: 60px;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: #000000;
}
.history-list__wrapper {
    margin-top: 74px;
    display: flex;
    gap: 63px;
}
.history-list__preview {
    height: 338px;
}
.history-list__wrapper > p {
    max-width: 437px;
}
/* Master page *Stop* */

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-bottom: 61px;
}

/* UI Kit *Start* */

.button_bordered {
    padding: 11.0369px 27.9169px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0.64923px solid #000000;
    border-radius: 5.23319px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16.018px;
    line-height: 23px;

    color: #000000;
}
.button_red {
    padding: 11.0369px 27.9169px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FF0000;
    border-radius: 5.23319px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16.018px;
    line-height: 23px;

    color: #FFFFFF;
}
.text-h1 {
    max-width: 68%;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 41.7758px;
    line-height: 60px;
    text-transform: uppercase;

    color: #000000;
}
.text-h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 30.4576px;
    line-height: 44px;
    text-transform: uppercase;

    color: #000000;
}
.text-h3 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #000000;
}
.text-p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15.8313px;
    line-height: 23px;

    color: #959595;
}
.red {
    color: #FF0000;
}
.underline {
    text-decoration-line: underline;
}
.label {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 20.446px;
    line-height: 100%;

    color: #717171;
}
.label + input {
    margin-top: 10px;
}
.label + select {
    margin-top: 30px;
}
input + .label   {
    margin-top: 30px;
}
.input_underline {
    position: relative;
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #E3E3E3;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 27.4087px;
    line-height: 100%;

    color: #373737;
}
.input_underline::placeholder {
    color: #9C9C9C;
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 12px 18px !important;

    background: #EEEEEE;
    border-radius: 6px;
}
.search__icon {
    width: 25px;
    height: 25px;
}
.search__input {
    width: 100%;
    background: none;
    border: none;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15.6248px;
    line-height: 23px;

    color: #6C6C6C;
}
.select_underline {
    padding: 6px;
    padding-right: 66px;

    border: none;
    background: none;
    appearance: none;
    outline: none;

    background-image: url(../img/arrow.svg);
    background-position: right center;
    background-repeat: no-repeat;

    border-bottom: 2px solid #E3E3E3;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 27.4087px;
    line-height: 100%;

    color: #9C9C9C;
}
.textarea {
    border: 1px solid #9B9B9B;
    border-radius: 21px;
    padding: 24px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 158%;

    color: #373737;
}
.textarea::placeholder {
    color: #717171;
}
.label + .textarea {
    margin-top: 38px;
}
.input {
    padding: 7px 13px;
    border: none;
    outline: none;
    background: #EEEEEE;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15.6809px;
    line-height: 23px;

    color: #656565;
}
.checkbox-wrapper {
    display: flex;
    gap: 9.5px;
}
.checkbox {
    margin: 0;
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15.21px;
    height: 15.21px;

    box-sizing: border-box;
    border: 1.90154px solid #BFBFBF;
    border-radius: 152.123px;
}
.checkbox:checked::before {
    content: "";
    width: 7.61px;
    height: 7.61px;
    background: #000000;
    border-radius: 76.0616px;
}
.checkbox__label {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1728px;
    line-height: 100%;

    color: #717171;
}
.select {
    padding: 5px 15px;
    padding-right: 66px;

    border: none;
    background: none;
    appearance: none;
    outline: none;

    background-color: #EEEEEE;
    background-image: url(../img/arrow.svg);
    background-size: 29px 29px;
    background-position: right center;
    background-repeat: no-repeat;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15.6809px;
    line-height: 23px;

    color: #9C9C9C;
}
.select_multiple {

}
.input_file {
    position: relative;
    width: 225.81px;
    height: 58.6px;
    padding-top: 2px;
    padding-left: 2px;
}
.input_file::after {
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    content: "Прикрепить файл";
    padding: 13.7999px 34.9057px;
    border: 0.81176px solid #000000;
    border-radius: 6.54328px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 20.028px;
    line-height: 29px;

    color: #000000;
}
.input_file-error {
    margin-top: 20px;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #FF0000;
}
/* UI Kit *Stop* */

/* Media requests *Start* */

@media (max-width: 1702px) {
    .header-top > .container, .header-bottom > .container, .footer > .container, .footer-info > .container, .footer-bottom > .container, .content-body > .container, .content-header > .container {
        margin-left: 3%;
        margin-right: 3%;
    }
    .articles-wrapper, .contacts-left {
        margin-left: 3%;
    }
    .articles-wrapper {
        max-width: 97vw;
    }
}
.burger-btn {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5.35px;
}
.burger-btn > span {
    width: 26px;
    height: 2.29px;
    background: #888888;
    border-radius: 48.1764px;
}
@media (max-width: 1535px) {
    .footer-bottom > .container {
        flex-direction: column;
        margin: 0;
    }
    .footer-bottom .contacts-wrapper {
        padding: 33px 0;
    }
    .footer-bottom .flex-wrapper {
        border-top: 2px solid #E3E3E3;
        width: 100%;
        justify-content: center;
    }
    .free-kassa {
        border: none;
    }
}
@media (max-width: 1400px) { 
    .header .search {
        display: none;
    }
    .header .nav-links {
        justify-content: space-between;
        width: 100%;
        border-right: none;
    }
    .footer-contacts {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contacts-form__body {
        padding-left: 0;
        justify-content: center;
    }
}
@media (max-width: 1245px) {
    .contacts-left {
        margin-bottom: 40px;
    }
    .contacts-form__header {
        border-top: 2px solid #E3E3E3;
    }
    .articles-wrapper {
        margin-left: 0;
        max-width: 100vw;
    }
    .header-bottom > .container {
        justify-content: space-between;
    }
    .header .nav-links {
        display: none;
    }
    .burger-btn {
        display: flex;
    }
}
@media (max-width: 1100px) {
    .footer-info > .container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .info-block:first-child {
        padding-right: 0;
    }
    .info-block:last-child {
        padding-left: 0;
    }
}
/* Media requests *Stop* */